<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <td style="background:url('https://ci6.googleusercontent.com/proxy/RxVS4XtIRqTKElH0VLvQQKuSYTuXIkJ4GfjjNC0_qXCRfjT4iF0TJY3CGRBTVI6Zzxfw817a5gHshaHBO9QBxabqL7nqQihkWKZL_eJNeSxNW6zK39edTQpB410Q8JIAlrQ=s0-d-e1-ft#https://www.techgig.com/files/contest_upload_files/cloud-dev-jam-bg-08oct21.png') no-repeat;height:300px">
        <p style="margin:0;padding:0 0 0 30px;font-size:30px;text-align:left;color:#4a4548;line-height:34px;font-family:Helvetica,Arial,Helvetica,sans-serif;font-weight:normal;color:#000">
            Get ready for Internships <br> InternMarks<br> Internship series
        </p>

        <div style="padding:20px 0 0 30px">
            <table style="border-collapse:collapse;border-spacing:0;text-align:left" align="left" width="140">
                <tbody>
                    <tr>
                        <td style="background-color:#d7263d;text-align:center;color:#ffffff;border-radius:3px;font-size:18px;text-decoration:none;font-weight:bold"><a href="https://newss.pythonanywhere.com" style="margin:0;padding:0px 3px 0px 3px;display:block;color:#ffffff;font-size:16px;line-height:24px;font-family:Arial,Helvetica,sans-serif;text-align:center;font-weight:bold;text-align:center;text-decoration:none;border:10px solid #d7263d;border-radius:3px"
                                target="_blank" data-saferedirecturl="https://newss.pythonanywhere.com"> start now finding internships  </a></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </td>
</body>

</html>